~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~ http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.

  ---
  Llama, Running
  ---
  ---
  ${maven.build.timestamp}

Running Llama

%{toc|section=1|fromDepth=2}

* Install

  Expand the Llama TARBALL distribution.
  
* Llama Configuration

  Within Llama root directory:
  
    * Llama startup configuration: <<<libexec/llama-env.sh>>>.
  
    * Llama server configuration: 
    <<<{{{./llama-site.html}conf/llama-site.xml}}>>> (changes take effect on 
    re-start).
  
    * Llama server logging: 
    <<<{{{./llama-log4j.properties}conf/llama-log4j.properties}}>>> (changes 
    take effect within 1 second).

    <<NOTE:>> These files have all configuration properties with their default 
    values.
  
  <<Yarn Configuration:>>
  
  Copy the <<<core-site.xml>>> and <<<yarn-site.xml>>> files from the Hadoop 
  cluster in Llama's <<<conf/>>> directory.
  
* Run

  To start Llama:
  
+----+
$ bin/llama
2013-08-02 06:57:32,743 INFO  Main - -----------------------------------------------------------------
2013-08-02 06:57:32,746 INFO  Main -   Java runtime version : 1.6.0_51-b11-457-11M4509
2013-08-02 06:57:32,747 INFO  Main -   Llama version        : 1.0.0-cdh5.0.0-SNAPSHOT
2013-08-02 06:57:32,747 INFO  Main -   Llama built date     : 2013-08-02T13:43Z
2013-08-02 06:57:32,747 INFO  Main -   Llama built by       : tucu
2013-08-02 06:57:32,747 INFO  Main -   Llama revision       : ba875da60c9865cceb70c352eb062f4fd1dfa309
2013-08-02 06:57:32,784 INFO  Main -   Hadoop version       : 2.1.0-cdh5.0.0-SNAPSHOT
2013-08-02 06:57:32,784 INFO  Main - -----------------------------------------------------------------
2013-08-02 06:57:32,784 INFO  Main - Configuration directory: /Users/tucu/llama/conf
2013-08-02 06:57:32,878 INFO  Main - Server: com.cloudera.llama.am.server.thrift.LlamaAMThriftServer
2013-08-02 06:57:32,879 INFO  Main - -----------------------------------------------------------------
2013-08-02 06:57:33,790 INFO  LlamaAMThriftServer - Server listening on: 0.0.0.0:15000
2013-08-02 06:57:33,790 INFO  LlamaAMThriftServer - Llama started!
+----+

  Llama will run in the foreground.

  To stop Llama do a <<<CTRL-C>>> on the terminal running llama or do a 
  <<<kill>>> on the PID, Llama will shutdown gracefully on a <<<SIGINT>>>:
  
+----+
...
2013-08-02 07:06:28,434 INFO  LlamaAMThriftServer - Llama started!
^C
2013-08-02 07:06:29,653 INFO  LlamaAMThriftServer - Llama shutdown!
$
+----+

* Security Configuration

  If configuring Llama with security Enabled (Thrift with Kerberos SASL) you 
  need a running KDC, a service keytab (<<<llama/HOSTNAME>>>) and the
  corresponding keytab file.
  
  The properties to configure in the <<<llama-site.xml>>> file are (shown with 
  default values):
  
  * llama.am.server.thrift.security=false
  * llama.am.server.thrift.kerberos.keytab.file=llama.keytab
  * llama.am.server.thrift.kerberos.server.principal.name=llama
  * llama.am.server.thrift.kerberos.notification.principal.name=impala
  
  If the path specified in <<<llama.am.server.thrift.kerberos.keytab.file>>> is
  a relative path, the keytab file will be expected in the Llama configuration 
  directory.

  When specifying the principal names use the short name only, do not include 
  the service hostname. The Thrift SASL implementation composes the complete 
  service principal name (<<<shortName>>>/<<<hostname>>>).
  
* Notes on Thrift

  Llama Thrift server supports unframed transport only (per Impala requirement).
  Because of this Llama must use synchronous IO (<<<TThreadPoolServer>>>).
  
  Kerberos Thrift SASL is supported.
