div#new_issue_form form label {
  width: 110px;
}

div#new_issue_form input {
  width: 250px;
}

div#new_issue_form textarea {
  width: 500px;
  height: 250px;
}

div#new_issue_form input.button {
  margin-top: 10px;
  margin-left: 565px;
  width: 60px;
  border-color:#ccc #777 #999 #ddd;
  border-width:1px;
  padding:2px 8px;
  font-size:12px;
  border-style:solid;
  background:#ddd;
}

ul.errorlist {
  color: #F00;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table p.description {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 10px;
  color: #666;
}

table a {
  font-weight: bold;
}

div#issue_description th {
  font-size: 14px;
}

div#issue_description th span {
  font-size: 11px;
  color: #666;
}

div#form_message {
  width: 400px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #C6D880;
  background: #E6EFC2;
  color: #529214;
  font-size: 14px;
  line-height: 19px;
}
